/*
Syntax error: Undefined mixin 'box-shadow'.
        on line 13 of /Users/mortendk/Dropbox/websites/drupaldanmark.dev/sites/all/themes/mobydick/sass/slides.scss, in `box-shadow'
        from line 13 of /Users/mortendk/Dropbox/websites/drupaldanmark.dev/sites/all/themes/mobydick/sass/slides.scss

Backtrace:
/Users/mortendk/Dropbox/websites/drupaldanmark.dev/sites/all/themes/mobydick/sass/slides.scss:13:in `box-shadow'
/Users/mortendk/Dropbox/websites/drupaldanmark.dev/sites/all/themes/mobydick/sass/slides.scss:13
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/../sass/tree/visitors/perform.rb:170:in `visit_mixin'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/../sass/tree/visitors/perform.rb:236:in `visit_rule'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/../sass/tree/visitors/perform.rb:47:in `visit_root'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/../sass/tree/root_node.rb:20:in `render'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/../sass/engine.rb:300:in `_render'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/../sass/engine.rb:248:in `render'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/../sass/util.rb:297:in `silence_sass_warnings'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/../sass/engine.rb:248:in `render'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/lib/compass/compiler.rb:136:in `compile'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/lib/compass/compiler.rb:122:in `timed'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/lib/compass/compiler.rb:135:in `compile'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/lib/compass/logger.rb:45:in `red'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/lib/compass/compiler.rb:134:in `compile'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/lib/compass/compiler.rb:114:in `compile_if_required'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/lib/compass/compiler.rb:99:in `run'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/lib/compass/compiler.rb:97:in `each'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/lib/compass/compiler.rb:97:in `run'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/lib/compass/compiler.rb:122:in `timed'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/lib/compass/compiler.rb:96:in `run'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/lib/compass/commands/update_project.rb:37:in `perform'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/lib/compass/commands/base.rb:18:in `execute'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/lib/compass/commands/project_base.rb:19:in `execute'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/bin/compass:25
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/bin/compass:39:in `call'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/bin/compass:39
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'box-shadow'.\A         on line 13 of /Users/mortendk/Dropbox/websites/drupaldanmark.dev/sites/all/themes/mobydick/sass/slides.scss, in `box-shadow'\A         from line 13 of /Users/mortendk/Dropbox/websites/drupaldanmark.dev/sites/all/themes/mobydick/sass/slides.scss"; }
