ol, ul{
	padding:0;
	margin:0;

	.block & li{
	
	}
}


.content, .book-block-menu{
	ul{
		padding: 0 0 0 $column-width / 4;
		margin:0;
	}
}


li{
	list-style: none inside;
}

.content li{
	list-style: none inside url(../images/pictos/61.png);
	border-bottom:1px solid #6F9AB2;
}