ol, ul{
	padding:0;
	margin:0;
}

nav{
	ul{
		margin: 0;
		padding: 0;
	}
	li{
		margin: 0;
		padding-right: 10px;
	}
	li:first-child{

	}
	li:last-child{
		padding-right: 0;
	}
}

//active
.active,
.active-trail > .active-trail{
	text-decoration: none;
	font-weight:bold;
}


.content, .book-block-menu{
	ul{
		padding: 0 0 0 $column-width / 4;
		margin:0;
	}
}

