/* 	Table elements */
table {
  width: 100%;
  margin-bottom: $baseline;
  padding: 0;
  font-size: $basefont;
  border-collapse: collapse;
	background:#fff;

	caption{
		text-transform:uppercase;
	  font-weight: bold;
	}
}
th, td {
	padding: 10px;
  line-height: $baseline;
  text-align: left;
	vertical-align:top;
}
thead tr{

}
th {
	padding-top: 9px;
  font-weight: bold;
	border-bottom: 1px solid #eee;
	text-transform: uppercase;
	background: #efefef;
}
td {
  vertical-align: top;
  border-top: 1px solid #efefef;
	border-bottom:1px solid #f0f0f0;
}
tbody th {
  border-top: 1px solid #ddd;
  vertical-align: top;
}
tr.odd td,
tr:nth-child(odd) td{
   background-color: #f9f9f9;
}
tr .even td,
tr:nth-child(even) td{
   background-color: #f5f5f5;
}
tr:hover td{
  background-color: #fff;
}

table.sticky-header {
  background-color: #fff;
  margin-top: 0;
}


/* ----------------------------- Tablesort JQuery  ------------------------------------------------ */
.tablesort th{padding-right:15px; color:#129AC2;}
.tablesort th:hover{cursor: pointer; background:#f9f9f9}
.tablesort th.headerSortUp { background: #f5f5f5 url(../images/asc.gif) no-repeat right 20px;}
.tablesort th.headerSortDown { background: #f5f5f5 url(../images/desc.gif) no-repeat right 12px; }
