body{
  font-family: $helvetica;
  font-size:  $basefont;
  line-height: $baseline;
  color:#222;
}
h1{
  font-size:$basefont * 3;
  line-height:$baseline * 2;
  margin-bottom:$baseline / 2 ;
}
h2{
  font-size:  $basefont * 2;
  line-height:$baseline * 1.5;
  margin: 0 0 $baseline / 2 0;
}
h3{
  font-size:$basefont * 1.5;
  line-height:$baseline * 1.5;
}
h4{
  font-size:$basefont * 1.2;
  line-height:$baseline;
}
h5, h6{
  font-size:$basefont;
  line-height:$baseline;
}
p, ol, ul, dl, address {
  margin:0 0 $baseline / 2 0;
}
dl{
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
dt {
  font-weight:bold;
  color:#6F9AB2;
  margin-top:$basefont / 2;
  font-size:$basefont * 1;
}
dd {
  margin-left:0px;
}

blockquote  { margin : 0 0 1.5em -24px; padding-left : 24px; border-left : 1px solid #666; font-style : italic; }
blockquote:before, blockquote:after, q:before, q:after {content : ''; content : none; }
q { quotes : none; }
q:before, q:after { content : ""; content : none; }

abbr[title] { border-bottom : 1px dotted; cursor : help; }
strong { font-weight : bold; }
dfn { font-style : italic; }
hr { display : block; margin : 1em 0; padding : 0;height : 1px; border : 0; border-top : 1px solid #666}
ins { }
mark {}
pre, code, kbd, samp {
  font-family : $font-monospace;
  line-height : $baseline;
  text-shadow: 0 1px 0 rgba(250,250,250,.5);
  padding:0px 20px;
	margin:0px;
  @include grid-background(1, 800px, 20px, $baseline, 20px, #eaeaea, #f2f2f2, #c9e2e8);
  border:1px solid #c9e2e8;
  @include border-radius(2px);
  @include box-shadow(inset 0px 0px 1px 0px rgba(255, 255, 255, 1), 1px 1px 1px 0px rgba(0, 0, 0, 0.3) );
	margin: $baseline 30px;
	padding:$baseline 30px;
	display: block;
}
pre {
	white-space : pre;
	white-space : pre-wrap;
	word-wrap : break-word;
}

div.codeblock{
	padding:0 0 0 4px;
	border:none;
	background: transparent url(../images/document-code.png) no-repeat 16px 30px;
}
/*
small { font-size : 1em; }
sub, sup { font-size : 75%; line-height : 0; position : relative; vertical-align : baseline; }
sup { top : -.5em; }
sub { bottom : -.25em; }
*/

