.forum-overview article{
   @extend .g4;
   background:white;

   h3{
     padding:5px;
   }
   p{
    padding:5px;
   }

  &:nth-child(odd) {

  }
  &:nth-child(even) {

  }

}

.forum-overview article.count-0{
  @extend .gf;

};

tr.sticky td{
  background: yellow;
}

tr.closed td{

}

.forum-topic-list{
    .last-reply,
    .replies{
      font-size:0.8em;
    }
    i{
      float:right;
      font-style: normal;
      font-size:0.8em;

    }

}

.forum-content article{
 @extend .g3;
}


.forum-content{


}



.forum-status-new {
}
.indent {
  margin-left: 20px;
}

