article{

	margin-bottom: 10px;
	padding-bottom:10px;

	//meta data for the article
	footer{
		margin: 5px 0;
		vertical-align:middle;
		font-size: $basefont * 0.8;
		line-height: $baseline * 0.8;
		color: #666;
		border-top:1px solid #eee;
		padding-top:2px;
		color:#999;
		margin-top:2px;
		text-align:left;

		a{
			color:#999;
		}

		figure{
			border:none;

			img{
				display:inline-block;
				wxidth:20px;
				height:20px;
			}

			figcaption{
				display:inline-block;
				text-align:left;
			}

		}

    .author{

    }
    .date{

    }
    .changed{

    }

	}

	label{
		font-weight:bold;
	}

}

.content{

	img{

		float:none;
	}

	ol, ul{
		padding-left:10%;
		width:70%;
	}

	ul li{
		list-style: none inside;
		border-bottom: 1px solid #ccc;
		margin:$basefont / 2 0;
	}

	ol li{
		list-style: decimal inside;
		border-bottom: 1px dotted #ccc;
		margin:$basefont / 2 0;
	}
}

.links{
	text-align:right;
	list-style: none outside;
  padding:0;
  li{
    display:inline-block;
  }
}